@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_none {
  display: none;
}

section:not(:first-child) {
  padding: 50px 0;
}

.half_column {
  width: 50%;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  color: #353239;
}

p {
  padding: 5px 0;
}

h2, h3 {
  padding: 10px 0;
}

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active, button:active {
  background-color: transparent;
}

/* -- HEADER -- */
header .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
}
header .container .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}
header .container .header_top .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
header .container .header_top .left_side .site_title_wrap .site_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
}
header .container .header_top .left_side .site_title_wrap .site_desc {
  text-transform: lowercase;
  font-size: 16px;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
}
header .container .header_top .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .container .header_top .right_side .contact_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
header .container .header_top .right_side .contact_block .social_link {
  background-color: #4f4872;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
}
header .container .header_top .right_side .contact_block .contacts_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .container .header_top .right_side .contact_block .contacts_wrap a {
  color: #353239;
}
header .container .header_top .right_side .contact_block .contacts_wrap a.phone_link {
  font-size: 16px;
  font-weight: 500;
}
header .container .header_top .right_side .contact_block .contacts_wrap a.mail_link {
  font-size: 14px;
  font-weight: 400;
}
header .container .header_top .right_side .call_popup {
  border-radius: 5px;
  background-color: #fcb000;
  color: #fff;
  padding: 5px 10px;
  height: 100%;
}
header .container .header_bottom {
  background-color: #4f4872;
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
}
header .container .header_bottom .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header_bottom .header_menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
header .container .header_bottom .header_menu .menu_list .menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  float: left;
}
header .container .header_bottom .header_menu .menu_list .menu_item .menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
}
header .container .header_bottom .header_menu .menu_list .menu_item .sub-menu {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 5;
  min-width: 200px;
  border-radius: 3px;
  border: 1px solid #fcb000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-box-shadow: 0 0 5px #4f4872;
          box-shadow: 0 0 5px #4f4872;
}
header .container .header_bottom .header_menu .menu_list .menu_item:hover .sub_menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=style.css.map */