@import "fonts";
@import "reset";
@import "all";
@import "mixins";
@import "map";

/* -- HEADER -- */
header{

  .container{
    flex-direction: column;
    padding: 20px 0px;

    .header_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;

      .left_side{
        display: flex;
        align-items: center;
        gap: 10px;

        .logo_img{

        }

        .site_title_wrap{

          .site_title{
            text-transform: uppercase;
            font-weight:500;
            font-size: 24px;
          }
          .site_desc{
            text-transform: lowercase;
            font-size: 16px;
            text-align: justify;
            text-align-last: justify;
          }
        }
      }

      .right_side{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .contact_block{
          display:flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          .social_link{
            background-color: $purple;
            color: $white;
            padding: 10px;
            font-size: 20px;
            line-height: 1;
            border-radius: 5px;

          }

          .contacts_wrap{
            display: flex;
            flex-direction: column;            
            

            a{
              color: $dark_text; 
              
              
              &.phone_link{
                font-size: 16px;
                font-weight: 500;
              }

              &.mail_link{
                font-size: 14px;
                font-weight: 400;
              }
            }


          }
        }

        .call_popup{
          border-radius: 5px;
          background-color: $orange;
          color: $white;
          padding: 5px 10px;
          height: 100%;
        }

      }
    }

    .header_bottom{
      background-color: $purple;
      padding: 15px;
      border-radius: 0px 0px 10px 10px;

      .header_menu{
        display: flex;
        align-items:center;

        .menu_list{
          display: flex;
          gap:30px;
          align-items:center;
          margin:0;
          padding:0;

          .menu_item{
            display: flex;
            align-items:stretch;
            float:left;

            .menu_link{
              display: flex;
              font-weight:400;
              font-size:16px;
              line-height:24px;
              color:$white;
              align-items:center;
              text-decoration:none;
              transition:.3s linear;
              position: relative;
            }

            .sub-menu{
              display: none;
              position: absolute;
              top:70px;
              z-index:5;
              min-width:200px;
              border-radius:3px;
              border:1px solid $orange;
              visibility:hidden;
              opacity:0;                
              transform-origin:0 0;
              transform:rotateX(-90deg);
              transition:.5s linear;
              box-shadow:0 0 5px $purple;
            }

            &:hover{

              .sub_menu{
                visibility:visible;
                opacity:1;
                transform:rotateX(0deg);
                display: flex;
              }
            }

            
          }
        }
      }      
    }
  }
}


@import "adaptive"